{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <main>
        <div class="magazine">
            <h1>{{ magazine.title }}</h1>
            <h2>{{ magazine.release }}</h2>
            <p>{{ magazine.description }}</p>
            <p>{{ magazine.issued }}</p>
            <p>{{ magazine.image }}</p>
            <a href={% url "delete_magazine" magazine.pk %}> 
                <button type = "button">Delete this magazine</button>
            </a>
            <div class="magazine-card">
                <img src = {{magazine.cover}}></img>
                {% for issue in magazine.issues.all %}
                <p>Issues {{ issue.issue}}</p>
                <p>{{ issue.title }}</p>
              {% endfor %}
        </div>
    </main>
</body>

</html>
