<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <h1>
      {{ genre.name }}
    </h1>
     {% for magazine in genre.magazines.all %}
      <div class="genre-card">
        <p>{{ magazine.title }}</p>
        
      
     
      {% endfor %}
    {% comment %} {% for genre in magazine.genres.all %}
    <p>{{ genre.name }}</p>
    <p>{{ genre.magazines.first }}</p> {% endcomment %}
    
    
    
 
  </main>
</body>

</html>