{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <main>
        <div class="books-card">
            <h2>{{ book.author }}</h2>
            {% for book in author.books.all %}
                <p>{{ book.title }}</p>
            {% endfor %}
            </a>
        </div>
    </main>
</body>

</html>
