{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <main>
        <div class="books-card">
            <h1>{{ book.title }}</h1>
            <h2>{{ book.author }}</h2>
            <p>{{ book.number_of_pages }}</p>
            <p>{{ book.isbn }}</p>
            <p>{{ book.description }}</p>
            <p>{{ book.in_print }}</p>
            
        </div>
        <div class="book-card">
            <p>{{ book.title }}</p>
            {% for review in book.reviews.all %}
              <p>Review: {{ review.text }}</p>
            {% endfor %}
            {% for author in book.authors.all %}
              <p>Author: {{ author.name }}</p>
            {% endfor %}
            <p>{{ book.pages }}</p>
            <a href={% url "delete_view" book.pk %}> 
                <button type = "button">Delete this book</button>
            </a>
            </div>
    </main>
</body>

</html>
