<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book-card">
        <p>
          <a href={% url "show_a_book" book.pk %}> {{ book.title }}
          </a>
        </p>
        <p>{{ book.author }}</p>
        <p>{{ book.number_of_pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p>
        <img src= {{ book.bookcover }} width=100 height="auto">
        <a href={% url 'update_view' book.pk %}>    
        <input type="button" value="Edit"> </a>
      
      </div>
    {% endfor %}
  </main>
</body>

</html>